<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Enter your email"
        ngModel
        name="email"
        email
        required
      />
      <mat-error> Email is required </mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Password must be at least 6 characters long">
      <input
        type="password"
        matInput
        placeholder="Enter your password"
        ngModel
        name="password"
        minlength="6"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Your birthdate"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="bday"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="terms">
      Agree to terms & conditions
    </mat-checkbox>
    <button mat-raised-button color="primary" [disabled]="f.invalid" type="submit">Sign up</button>
  </form>
</section>
